@import "var.css";



:root {
	@custom-selector :--signinup .signin, .signup;
}



[v-cloak] {
	display: none;
}



.main {
	background: url(../img/planes.png) no-repeat bottom var(--green);
}



.entries {
	min-height: 600px;
	text-align: center;
	color: white;
	padding: 80px 0 160px;
}
.entry-title {
	font-size: 24px;
	margin-bottom: 1.5em;
}



.user-type-item {
	display: inline-block;
	margin: 0 4.7%;
	cursor: pointer;
}
.user-type-item-icon,
.user-type-item-name {
	transition: 0.3s;
}
.user-type-item-icon {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	background: no-repeat center white;
}
.user-type-item-name {
	@apply --hidden;
	font-size: 20px;
	line-height: 3;
	transform: translateY(-100%);
}

.user-type-item-student .user-type-item-icon {
	background-image: url(../img/student.png);
}
.user-type-item-parent .user-type-item-icon {
	background-image: url(../img/parent.png);
}
.user-type-item-teacher .user-type-item-icon {
	background-image: url(../img/teacher.png);
}

.user-type-item:hover .user-type-item-icon {
	box-shadow: 0 0 0 5px color(white alpha(40%)), 0 0 0 10px color(white alpha(20%));
}
.user-type-item:hover .user-type-item-name {
	@apply --visible;
	transform: translateY(0);
}

.entry-actions .btn {
	font-size: 16px;
	margin: 0 6%;
	border-radius: 6px;
	padding: 0 3em;
}
.entry-actions a.btn {
	line-height: 2.5;
}



:--signinup .form {
	text-align: left;
}
:--signinup .form.layout {
	width: 43%;
}
:--signinup .entry-title {
	font-size: 28px;
	font-family: "迷你简硬笔行书";
}
:--signinup .entry-type {
	@apply --round-radius;
	display: inline-block;
	vertical-align: middle;
	font-size: 1rem;
	font-family: var(--base-font-family);
	color: #99d649;
	padding: 0 0.5em;
	background: color(white alpha(70%));
}

.code-countdown {
	color: #a5a5a5;
	background: #e4e4e4;
	padding: 0 1em;
}



.sign-enter {
	animation: fadein 0.4s ease-in-out;
}