:root {
	--base-line-height: 1.5;
	--base-font-family: "Segoe UI", "Microsoft Jhenghei", "Microsoft Yahei", sans-serif;
	--green: #8dd233;
	--purple: #5a50a5;
	--gray: #949494;
	--gray-1: #a8a8a8;

	@custom-selector :--before-after ::before, ::after;

	--ibs: {
		& > * {
			display: inline-block;
		}
	}

	--clearfix {
		&:--before-after {
			content: "";
			display: table;
		}
		&::after {
			clear: both;
		}
	}

	--justify: {
		@apply --ibs;
		font-size: 0.1px;
		line-height: 0;
		text-align: justify;

		& > * {
			font-size: 1rem;
		}
		&::after {
			content: "";
			display: inline-block;
			width: 100%;
		}
	}

	--hidden: {
		visibility: hidden;
		opacity: 0;
	}
	--visible: {
		visibility: visible;
		opacity: 1;
	}

	--round-radius: {
		border-radius: 999px;
	}

	--block-margin: {
		margin-bottom: 20px;
	}
}